<div>
  <sidebar-item-section>
    <sidebar-item title="Dashboard" routerLink="/admin/dashboard">
      <photography-icon></photography-icon>
    </sidebar-item>
    <sidebar-item title="Courses" routerLink="/admin/course">
      <graphic-design-icon></graphic-design-icon>
    </sidebar-item>
    <sidebar-item title="Submission" routerLink="/admin/submission">
      <video-icon></video-icon>
    </sidebar-item>
    <sidebar-item title="Illustration" routerLink="/admin/illustration">
      <illustration-icon></illustration-icon>
    </sidebar-item>
    <sidebar-item title="UI/UX" routerLink="/admin/ux">
      <ux-icon></ux-icon>
    </sidebar-item>
    <sidebar-item title="3D/AR" routerLink="/admin/ar">
      <ar-icon></ar-icon>
    </sidebar-item>
  </sidebar-item-section>

  <sidebar-item-section>
    <sidebar-item title="Documentation" routerLink="/admin/documentation">
      <doc-icon></doc-icon>
    </sidebar-item>
  </sidebar-item-section>
</div>
