<div class="mr-auto flex pb-4">
  <h1 class="font-heading font-bold text-2xl">Daily mission</h1>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4">
  <div class="rounded-2xl p-4 font-normal" style="background-color: rgb(146 151 179 / 13%)">
    <h1 class="font-heading text-center">Complete section 01</h1>
    
    <br>

  </div>
  <div class="rounded-2xl p-4 font-normal" style="background-color: rgb(146 151 179 / 13%)">2</div>
  <div class="rounded-2xl p-4 font-normal" style="background-color: rgb(146 151 179 / 13%)">3</div>
</div> <!--End grid-->
